@media (max-width: 767px) {
 .more .con {
    margin-top: 30
}
.more .con h1 {
    color: #fff;
    font-size: 2em
}
.more .con p {
    color: #f1f1f1;
}
    .wellcome .overlay .wellcome-text {
        color: #fff;
    position: absolute;
    top: 45%;
}


}
@media (min-width: 992px) {
    
}
@media (min-width: 768px) {
    .navbar .sub {
    background: none;
    border: 2px solid #eeff35;
    padding: 5px;
    border-radius: 10px;
    font-weight: bold;
    color: #eeff35;
    position: absolute;
        right: 10%
} 
  
}